<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.smallbeginjava11.mapper.CalendarMapper">


    <select id="getTodoList" parameterType="hashMap" resultType="Todo">
        SELECT
            to_do_code,
            member_code,
            to_do_content,
            to_do_state,
            to_do_color,
            DATE_FORMAT(plan_date, '%Y-%m-%d') as plan_date,
            done_date
        FROM
            to_do
        WHERE
            DATE_FORMAT(plan_date, '%Y-%m-%d') = #{selectedDate}
            AND member_code = #{memberCode};
    </select>

    <select id="getTodoListInMonth" parameterType="hashMap" resultType="Todo">
        SELECT
            to_do_code,
            member_code,
            to_do_content,
            to_do_state,
            to_do_color,
            DATE_FORMAT(plan_date, '%Y-%m-%d') as plan_date
        FROM
            to_do
        WHERE
            DATE_FORMAT(plan_date, '%Y-%m') =#{selectedMonth}
            AND member_code = #{memberCode}
        ORDER BY
            plan_date;
    </select>

    <insert id="inputTodoList" parameterType="hashMap">
        INSERT
            INTO
                to_do(
                to_do_code,
                member_code,
                to_do_content,
                plan_date,
                to_do_state,
                to_do_color,
                done_date
                )
            VALUES(
                (select IFNULL(MAX(a.to_do_code), 0) + 1 FROM to_do a),
                #{memberCode},
                #{toDoContent},
                #{planDate},
                0,
                #{toDoColor},
                #{done_date}
                )
    </insert>

    <update id="updateToDoState" parameterType="hashMap">
        UPDATE
            to_do
        SET
            to_do_state = #{toDoState}
        WHERE
            to_do_code = #{toDoCode};
    </update>

    <delete id="toDoDelete" parameterType="hashMap">
        DELETE
        FROM
            to_do
        WHERE
            to_do_code = #{toDoCode};
    </delete>

    <update id="editToDo" parameterType="hashMap">
        UPDATE
        to_do
        SET
        to_do_content = #{toDoContent},
        to_do_color = #{toDoColor}
        WHERE
        to_do_code = #{toDoCode};
    </update>
</mapper>