<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.smallbeginjava11.mapper.IniMapper">

    <insert id="insertIni" parameterType="hashMap">
        INSERT
            INTO
                initiative(
                ini_code,
                ob_code,
                ini_period,
                date_list_code,
                month_list_code,
                ini_duration,
                ini_count,
                ini_order,
                ini_content,
                ini_start_date,
                ini_end_date,
                ini_possible_count,
                ini_week_order
                )
            VALUES(
                (select IFNULL(MAX(a.ini_code), 0) + 1 FROM initiative a),
                #{obCode},
                #{iniPeriod},
        <choose>
            <when test="iniPeriod == 0">
                NULL,
                NULL,
            </when>
            <when test="iniPeriod == 1">
                (select IFNULL(MAX(b.date_list_code), 0) + 1 FROM date_list b),
                NULL,
            </when>
            <when test="iniPeriod == 2">
                NULL,
                (select IFNULL(MAX(b.month_list_code), 0) + 1 FROM month_list b),
            </when>
        </choose>
                #{iniDuration},
                NULL,
                0,
                #{iniContent},
                #{iniStartDate},
                #{iniEndDate},
                #{iniPossibleCount},
                NULL);
    </insert>

    <select id="selectDateListCodeOrMonthListCode" parameterType="hashMap" resultType="hashMap">
        SELECT
            date_list_code as dateListCode,
            month_list_code as monthListCode
        FROM
            initiative
        WHERE
            ini_code = (SELECT MAX(a.ini_code)
                        FROM initiative a
                        WHERE ob_code =  #{obCode});
    </select>

</mapper>