<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.smallbeginjava11.mapper.IniMapper">

    <insert id="insertIni" parameterType="Initiative">
        INSERT INTO initiative values(
            100, #{obCode}, 100, 100, #{iniPeriod}, #{iniCount}, null, #{iniContent}, null, #{iniStartDate}, #{iniEndDate}, 100);
    </insert>

</mapper>