<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.smallbeginjava11.mapper.JoinMapper">
    <insert id="joinProcess" parameterType="hashMap">
        INSERT
        INTO
        member(
        member_code,
        member_id,
        password,
        nickname,
        email,
        active_state
        )
        VALUES(
        (select IFNULL(MAX(a.member_code), 0) + 1 FROM member a),
        #{memberId},
        #{password},
        #{nickname},
        #{email},
        0
        );
    </insert>
</mapper>