<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.smallbeginjava11.mapper.PossibleDateMapper">

    <insert id="insertPossibleDataList" parameterType="hashMap">
        INSERT
            INTO
                possible_date_list(
                psb_dt_ls_code,
                ini_code
                )
            VALUES
                ((select IFNULL(MAX(a.psb_dt_ls_code), 0) + 1 FROM possible_date_list a),
                #{iniCode});
    </insert>

</mapper>