<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.smallbeginjava11.mapper.PossibleDateMapper">

    <insert id="insertPossibleDateList" parameterType="hashMap">
        INSERT
            INTO
                possible_date_list(
                psb_dt_ls_code,
                ini_code
                )
            VALUES
                ((select IFNULL(MAX(a.psb_dt_ls_code), 0) + 1 FROM possible_date_list a),
                #{iniCode});
    </insert>

    <insert id="insertPossibleDate" parameterType="hashMap">
        INSERT
            INTO
                possible_date(
                psb_dt_code,
                psb_dt_ls_code,
                psb_dt
                )
        VALUES
        <foreach collection = "possibleDateList" item="item" separator=",">
            ((select IFNULL(MAX(a.psb_dt_code), 0) + 1 FROM possible_date a),
            (select IFNULL(MAX(b.psb_dt_ls_code), 0) FROM possible_date_list b),
            #{item.psbDt})
        </foreach>
    </insert>

    <select id="selectPossibleDateCodeByIniCode" parameterType="hashMap" resultType="PossibleDate">
        SELECT
            psb_dt_code
        FROM
            possible_date
        WHERE
            psb_dt_ls_code = (SELECT psb_dt_ls_code
                              FROM possible_date_list a
                              WHERE a.ini_code = #{iniCode});
    </select>

</mapper>