<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="fragment-footer">
  <div class="tomottoWrap">
    <div id="tomotto">
      “In such seconds of decision entire futures are made.”
      ― Dan Simmons, Hyperion
    </div>
  </div>
  <div class="lookWrap">
    <div id="look">
      <div class="section_footer">
        <h3>Support</h3>
        <a href="#" class="footer_a">FAQs</a>
        <a href="#" class="footer_a">Contact Us</a>
      </div>
      <div class="section_footer">
        <h3>Give & Take</h3>
        <a href="#" class="footer_a">Gift Certificates</a>
        <a href="#" class="footer_a">Wishlist</a>
      </div>
      <div class="section_footer">
        <h3>Follow Us</h3>
        <a href="#" class="footer_a">Facebook</a>
        <a href="#" class="footer_a">Twitter</a>
      </div>
      <div class="section_footer">
        <h3>About Us</h3>
        <a href="#" class="footer_a">About</a>
        <a href="#" class="footer_a">Testimonials</a>
        <a href="#" class="footer_a">The Team</a>
      </div>
    </div>
  </div>
  <div class="legality">
    © Copyright 2022 SMALL BEGIN
  </div>
</div>
</body>
</html>