html, body{
    background-color: #FFFFFF;
}

.main{
    width: 100vw;
    /* height: 100vh; */
    /* -------- */
    display: flex;
    background: #ffffff;
}

.content-wrap{
    /* width: 100vw; */
    /* 추가 부분 */
    /* height: 100%; */
    height: 90vh;
    width : 100%;
    /* -------- */
    margin: 0 auto;
    overflow: visible;
    background: #ffffff;
}

.content-left{
    background: #ffffff;
    color: #000000;
    float: left;
    /* 추가 부분 */
    width: 30%;
    height: 100%
    position: fixed;
    /* -------- */
    /* padding: 30px; */
    padding: 3vw 2vh 3vw 2vh;
}

.content-right{
    /* float: left; */
    /* 추가 부분 */
    /* height: 100%; */
    width: 60%;
    /* -------- */
    padding: 10px;
    /* 2022년 7월 30일 추가 */
    background-color: #f9f9f9;
    color: #333333;
    float: right;
    /* overflow: scroll; */
    /* background-color: #333333; */
    /* color: #ffffff; */
}

#calendar{
    width: 100%;
    /* height: 100%; */
}

#calendar-head{
    height: 8%;
    margin-top: 5%;
}
.content-right table tr td{
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
}

.content-right table tr{
    width: 40px;
    /* 2022년 7월 30일 추가 */
    height: 15vh;
    /* ------------------ */
    /* height: 40px; */
    text-align: center;
    font-size: 20px;
}
.main-wrap{
    text-align: left;
    margin: 0 0 0 40px;
}
.main-day{
    font-size: 30px;
    font-weight: bold;
}
.main-date{
    font-size: 30px;
    font-weight: bold;
}
.main-month{
    font-size: 30px;
    font-weight: bold;
}
.todo-wrap{
    padding: 0 0 0 40px;
}
.todo-title{
    font-size: 20px;
    font-weight: 100;
    margin: 0 0 10px 0;
}
.input-box{
    /*width: 50%;*/
    margin-right: 20px;
   /* height: auto;*/
    background: #ffffff;
    color: #000000;
    line-height : normal;
    padding: .8em .5em 0 0;
    font-family: inherit;
    border: 0;
    border-bottom: 1px dashed #ffffff;;
    border-radius: 0;
    outline-style: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.input-data{
    cursor: pointer;
    font-size: 10px;
    padding: 10px;
    margin: 10px 0 10px 0;
    background: #ffffff;
    border: 1px solid #000000;
    color: #000000;
    border-radius: 10px;
}
.input-data:hover{
    background: #000000;
    color: #ffffff;
}
.input-list > div{
    font-size: 10px;
    width: 60%;
    float: left;
    color: #000000;
}
.input-list > .checked{
    color: #FFFFFF;
    text-decoration:line-through
}
.del-data{
    display: block;
    color: #ffffff;
    float: left;
    width: 10%;
    cursor: pointer;
    font-size: 10px;
    padding: 10px;
    background: #000000;
    border: none;
    border-radius: 10px;
}


.sun{
    color:#ef3333;
}
.sat{
    color:#2107e0;
}

.active{
    background: #ffffff;
    border-radius: 50%;
    color: #000000;
}

input#toDoColor {
    border: none;
    margin: 0;
    padding: 0;
    height: 18px;
}
input#toDoColor {
    border: none;
    background: white;
    margin-right: 80px;
}

@media(min-width: 800px){
    /* 2022년 7월 29일 추가 */
    #calendar{
        width: 100%;
        /* height: 100%; */
    }
    #calendar-head{
        height: 8%;
        margin-top: 5%;
    }
    .main{
        display: flex;
        align-items: center;
        justify-content:  center;
        /* 수정 */
        width: 100%;
        /* height: 90vh; */
        /* height: 100%; */
        /* --- */
        background: #ffffff;
    }
    .content-wrap{
        /* width: 800px; */
        /* height: 600px; */
        /* 수정 */
        width: 100%;
        /* height: 100%; */
        margin:0 auto;
        overflow: visible;
        background: #ffffff;
    }
    .content-left{
        background: #ffffff;
        color:#000000;
        float: left;
        /* 수정 */
        width: 30%;
        height: 100%;
        position: fixed;
        /* -- */
        /* width: 360px; */
        /* height: 600px; */
        padding: 90px 20px 20px 0;
    }

    .content-right{
        /* float: left; */
        /* width: 360px; */
        /* height: 600px; */
        /* padding: 100px 20px 20px 20px; */
        padding: 3vw 2vh 3vw 2vh;
        /* 2022년 7월 30일 추가 */
        background-color: #f9f9f9;
        color: #333333;
        float: right;
        /* overflow: scroll; */
        /* background-color: #333333; */
        /* color: #ffffff; */
        /* 수정 */
        /* height: 100%; */
        display: flex;
        flex-direction: column;
        width: 60%;
        overflow: hidden;
        visibility: unset;
        /* -- */
        /* infiniteScroll */
        /* overflow: scroll; */
    }
    .content-right table tr{
        width: 50px;
        /* 2022년 7월 30일 추가 */
        height: 15vh;
        /* ------------------ */
        text-align: center;
        font-size: 20px;
    }

    .content-right table tr td{
        width: 50px;
        height: 50px;
        text-align: center;
        font-size: 20px;
    }
    .main-wrap{
        text-align: left;
        margin: 0 0 0 40px;
    }
    .main-day{
        font-size: 30px;
        font-weight: bold;
    }
    .main-date{
        font-size: 30px;
        font-weight: bold;
    }
    .todo-wrap{
        padding: 0 0 0 40px;
    }
    .todo-title{
        font-size: 20px;
        font-weight: 100;
        margin: 0 0 10px 0;
    }
    .input-box{
        width: 70%;
        height: auto;
        background: #ffffff;
        color: #000000;
        line-height : normal;
        padding: .8em .5em 0 0;
        font-family: inherit;
        border: 0;
        border-bottom: 1px dashed #000000;;
        border-radius: 0;
        outline-style: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    .input-data{
        cursor: pointer;
        font-size: 10px;
        padding: 10px;
        margin: 20px 0 30px 0;
        background: #ffffff;
        border: 1px solid #000000;
        color: #000000;
        border-radius: 10px;
    }
    .input-data:hover{
        background: #000000;
        color: #ffffff;
    }
    .input-list > div{
        font-size: 10px;
        width: 60%;
        float: left;
        color: #000000;
    }
    .del-data{
        display: block;
        color: #ffffff;
        float: left;
        width: 10%;
        cursor: pointer;
        font-size: 10px;
        padding: 10px;
        background: #0b0809;
        border: none;
        border-radius: 10px;
    }

    .sun{
        color:#ef3333;
    }
    .sat{
        color:#2107e0;
    }
    .active{
        background: #ffffff;
        border-radius: 50%;
        color: #000000;
    }
    input#toDoColor {
        border: none;
        background: white;
        margin-right: 80px;
    }
}