html, body{
    background-color: #FFFFFF;
}

#session{
    display: none;
}

#sessionCode{
    display: none;
}

input#editColor {
    border: none;
    background: none;
    width: 11.5px;
    height: 15px;
    margin: 0;
    padding: 0;
}

#login{
    margin: 10px 0px 0px 42px
    cursor: pointer;
    font-size: 10px;
    padding: 5px;
    background: #ffffff;
    border: 1px solid #000000;
    color: #000000;
    border-radius: 10px;
    width: 20px;
    margin: 10px 0px 0px 42px;
    cursor: pointer;
}

#logout{
    margin: 10px 0px 0px 42px
    cursor: pointer;
    font-size: 10px;
    padding: 5px;
    background: #ffffff;
    border: 1px solid #000000;
    color: #000000;
    border-radius: 10px;
    width: 20px;
    margin: 10px 0px 0px 42px;
    cursor: pointer;
}

#login:hover {
    background: #000000;
    color: #ffffff;
}

#logout:hover {
    background: #000000;
    color: #ffffff;
}

.delete {
    padding: 0 12px;
}

table#toDoListsTable {
    width: 280px;
}

td.content {
    padding-right: 3px;
    padding-left: 1px;
}

#calendar{
    width: 100%;
}
#calendar-head{
    height: 8%;
    margin-top: 5%;
}
.main{
    display: flex;
    align-items: center;
    justify-content:  center;
    width: 100%;
    background: #ffffff;
}
.content-wrap{
    width: 100%;
    margin:0 auto;
    overflow: visible;
    background: #ffffff;
}
.content-left{
    background: #ffffff;
    color:#000000;
    float: left;
    width: 30%;
    height: 100%;
    position: fixed;
}

.content-right{
    background-color: #f9f9f9;
    color: #333333;
    float: right;
    display: flex;
    flex-direction: column;
    width: 60%;
    overflow: visible;
    visibility: unset;
}

#day-list{
    height: 8vh;
}

.prev-month{
    color: #C8C6C6;
}

#current-year-month-div{
    position: sticky;
    top: 0;
    height: 10%;
    background-color: #f9f9f9
}
.content-right table {
    width: 100%;
    height: 15vh;
    text-align: center;
    font-size: 16px;
    table-layout:fixed;
    word-break:break-all;
}

.content-right table tr{
    width: 10vw;
    height: 15vh;
    text-align: center;
    font-size: 1rem;
}

.content-right table tr td{
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 1em;
}

.content-right table tr td div{
    font-size: 1rem;
    height: 1.3rem;
    line-height: 1.3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.td-date{
    text-align: right;
}

.td-item{
    text-align: left;
}

.checker{
    margin-left: 0.2rem;
    padding-right: 0.2rem;
}

.main-wrap{
    text-align: left;
    margin: 0 0 0 40px;
    display: grid;
}
.main-day{
    font-size: 30px;
    font-weight: bold;
}
.main-date{
    font-size: 30px;
    font-weight: bold;
}
.main-month{
    font-size: 30px;
    font-weight: bold;
}
.todo-wrap{
    padding: 0 0 0 40px;
}
.todo-title{
    font-size: 20px;
    font-weight: 100;
    margin: 0 0 10px 0;
}
.input-box{
    width: 70%;
    height: auto;
    background: #ffffff;
    color: #000000;
    line-height : normal;
    padding: .8em .5em 0 0;
    font-family: inherit;
    border: 0;
    border-bottom: 1px dashed #000000;;
    border-radius: 0;
    outline-style: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.input-data{
    cursor: pointer;
    font-size: 10px;
    padding: 10px;
    margin: 20px 0 30px 0;
    background: #ffffff;
    border: 1px solid #000000;
    color: #000000;
    border-radius: 10px;
}
.input-data:hover{
    background: #000000;
    color: #ffffff;
}
.input-list > div{
    font-size: 10px;
    width: 60%;
    float: left;
    color: #000000;
}
.del-data{
    display: block;
    color: #ffffff;
    float: left;
    width: 10%;
    cursor: pointer;
    font-size: 10px;
    padding: 10px;
    background: #0b0809;
    border: none;
    border-radius: 10px;
}

.sun{
    color:#ef3333;
}
.sat{
    color:#2107e0;
}
.active{
    background: #ffffff;
    color: #000000;
    font-weight: bold;
}
input#toDoColor {
    border: none;
    background: white;
    margin-right: 80px;
}