@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
*{
    font-family: 'Noto Sans KR', sans-serif;
}

/* a 태그로 링크시 text decoration 해제 */
a {
  text-decoration: none;
}


/*Icon 관련*/
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons, .material-icons-outlined {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}


#container{
    margin-bottom: 45px;
}
#formCss, #otherContents{
    width: 700px;
    margin: 20px auto;
    text-align: center;
}
section{
/*    width: 1000px;*/
    margin: 0 auto;
    text-align: center;
}
input{
    border: none;
    border-bottom: 1px solid #000000;
    margin: 5px;
    padding: 1px;
}
input#date {
    margin: 0 auto;
}
input:focus{
    outline: none;
}
select{
    border: none;
    border-bottom: 1px solid #000000;
}
select:focus{
    outline: none;
}
[name~="day"] {
    border: none;
}
.buttons{
    padding: 3px;
    margin-top: 6px;
    background: #000000;
    color: #ffffff;
    border: none;
}
.buttons:hover{
    background: #ffffff;
    color: #000000;
    border-bottom: 1px solid #000000;
}
#day-pick {
    margin-top: 10px;
    margin-bottom: 5px;
}
/*input[type="checkbox"]{
    display: none;
}
input[type="checkbox"]+ label {
    display: inline-block;
    width: 16px;
    height: 16px;
    border:1px solid #000;
    position: relative;
}
input[type="checkbox"]:checked + label::after {
    content:'✔';
    font-size: 10px;
    text-align: center;
    position: absolute;
    left: 0;
    top:0;
}*/
/*
input[type="checkbox"] {
    margin: 0;
    -webkit-appearance: none;
    position: relative;
    width: 16px;
    height: 16px;
    cursor: pointer;
    outline: none !important;
    border: 1px solid #000000;
    border-radius: 2px;
    background: #ffffff;
}
input[type="checkbox"]::before {
    content: "\2713";
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: scale(0) translate(-50%, -50%);
    line-height: 1;
}
input[type="checkbox"]:checked {
    background-color: #ffffff;
    border-color: #000000;
    color: #000000;
}
input[type="checkbox"]:checked::before {
    border-radius: 2px;
    transform: scale(1) translate(-50%, -50%)
}*/
