.form .date-select {
  position: relative;
  display: inline-block;
}

.form .date-select-content {
  display: block;
  background-color: #f9f9f9;
  min-width: 160px;
  padding: 12px 16px;
}

.form .date-select-content .day {
    text-align: -webkit-center;
    padding: 1px 3px;
}