.form .date-select {
  position: relative;
  display: inline-block;
}

.form .date-select-content {
  display: block;
  /*position: absolute;*/
  background-color: #f9f9f9;
  min-width: 160px;
  /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
  padding: 12px 16px;
 /* z-index: 1;*/
}

.form .date-select-content .day {
    text-align: -webkit-center;
    padding: 1px 3px;
}

/*
.form .date-select:hover .date-select-content {
  display: block;
}*/
