.footer_a{
    color: #ffffff;
    text-decoration: none;
}

#footer{
    margin-bottom: -150px;
    clear: both;
}

.tomottoWrap{
    position: relative;
    background: #ffffff;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#tomotto{
    text-align: center;
    width: 700px;
    font-size: 9pt;
    line-height: 36px;
    margin: auto;
    color: black;
}

.lookWrap{
    position: relative;
    background-color: #000000;
    float: left;
    width: 100%;
}

#look{
    margin: auto;
    width: 700px;
}

.section_footer{
    overflow: hidden;
    float: left;
    display: inline;
    width: 160px;
    margin: 0 15px 15px 0;
    font: 10pt verdana;
    line-height: 1.6em;
}

.section_footer h3{
    font-weight: normal;
    font: 12pt Georgia;
    text-transform: uppercase;
    color: #f2f2f2;
}

.section_footer a{
    display: block;
}

.legality{
    margin: auto;
    width: 700px;
    text-align: center;
    clear: both;
    padding: 40px 0 0 0;
    color: black;
}