<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Small Begin</title>

<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>

<link th:href="@{/css/common.css}" rel="stylesheet" />
<link th:href="@{/css/navbar.css}" rel="stylesheet" />
<link th:href="@{/css/calendar3.css}" rel="stylesheet" />
<link th:href="@{/css/resetCSS.css}" rel="stylesheet" />
<script th:src="@{/js/navbar.js}"></script>
<script th:src="@{/js/calendarDataShow.js}"></script>
<script th:src="@{/js/calendar1.js}"></script>
<script th:src="@{/js/todoCRUD.js}"></script>
<script th:src="@{/js/common.js}"></script>

</head>
<body>
<th:block th:replace="fragment/sideMenu :: sideMenuFragment"></th:block>
<p id="session" th:text="${session.memberCode}"></p>
<div id="container">
    <div class="main">
        <div class="content-wrap">
            <div class="content-right">
                <div id="current-year-month-div">
                    <table>
                        <tr class="btn-wrap clearfix">
                            <td align="center" id="prev" colspan="2">ᐸ</td>
                            <td align="center" id="current-year-month" colspan="3"></td>
                            <td align="center" id="next" colspan="2">ᐳ</td>
                        </tr>
                        <tr id="day-list">
                            <td class = "sun" align="center">Sun</td>
                            <td align="center">Mon</td>
                            <td align="center">Tue</td>
                            <td align="center">Wed</td>
                            <td align="center">Thu</td>
                            <td align="center">Fri</td>
                            <td class= "sat" align="center">Sat</td>
                        </tr>
                    </table>
                </div>
                <table id="calendar" align="center">
                    <tbody id="calendar-body"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>

<script type="text/javascript"></script>
<script>
$(function(){

    attachMain();
    var mainThisMonth = clickDate();
    getSession();
    inputPlanDate();

    $("#prev").click(function(){
        mainThisMonth = prev(mainThisMonth);
        removeCalendar();
        attachMain(mainThisMonth);
        showCurrentMonthTitle(mainThisMonth);
        clickDate(mainThisMonth);
        showCurrentDateOnLeft(mainThisMonth);
        inputPlanDate(mainThisMonth);
        loadCalendar(mainThisMonth);

    });

    $("#next").click(function(){
        mainThisMonth = next(mainThisMonth);
        removeCalendar();
        attachMain(mainThisMonth);
        showCurrentMonthTitle(mainThisMonth);
        clickDate(mainThisMonth);
        showCurrentDateOnLeft(mainThisMonth);
        inputPlanDate(mainThisMonth);
        loadCalendar(mainThisMonth);
    });

    $("#input-data").click(function(){
        var planDate = $('#planDate').val();
        var toDoContent = $("#toDoContent").val();
        if(!toDoContent) {
            alert('내용을 입력해주세요');
        } else{
            readToDoForm("#toDoList", "/toDoListInsert");
        }
    });

    $('#calendar td').click(function(){
        var tdID = $(this).attr('id');
        var param4readToDo = getDate4Ajax(tdID);
        readToDo(param4readToDo);
    });

    $('#toDoListsTable').on("click", ".delete", function(){
        var answer = confirm("삭제하시겠습니까?");
        if(answer){
            var deleteId = $(this).attr('id');
            var selectedDate = $(".active").attr('id');
            var param4deleteTD = getDate4Ajax(selectedDate);
            deleteTodo(deleteId, param4deleteTD);
        }

    });

    $('#toDoListsTable').on("click", ".edit", function(){
        var tr = $(this).attr('class');
        var rowNum = tr.substr(5);
        rowNum++;
        var tableTr = document.getElementById("toDoListsTable").getElementsByTagName("tr");
        var selectedTr = tableTr[rowNum];
        var colorCol = selectedTr.children[0];
        var contentCol = selectedTr.children[1];
        var complete = selectedTr.children[4];

        colorCol.id = "editColorTd";
        contentCol.id = "editContent";
        complete.id = "complete";
        colorCol.innerHTML = '<input type="color" id="editColor" name="toDoColor"/>';
        complete.innerText = 'submit';
        contentCol.contentEditable = 'true';

        // submit 클릭 시 colorCol, contentCol에서 입력 받은 값을 updateTodo 메소드로 전달
        $("#complete").on("click", function(){
            var sendColor = $("#editColor").val();
            var sendContent = $("#editContent").text();
            var clickedDate = $(".active").attr("id");
            var toDoCode = $(this).prev().attr("id");
            editTodo(sendColor, sendContent, clickedDate, toDoCode);
            complete.innerText = 'edit';
        });

            //var editId = $(this).attr('id');
        });

    $("#toDoListsTable").on("click", ".state", function(){
        checkToDo(this.parentNode.id, this.innerText);
    });

    $("#login").on("click", function(){
        window.location.href = "/login";
    });

    $("#logout").on("click", function(){
        window.location.href = "/logout";
    });

   loadCalendar();
});
</script>
</html>

