<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Small Begin</title>

    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>

    <!-- navbar 및 전체 css 관련 !-->
    <link th:href="@{/css/common.css}" rel="stylesheet" />
    <link th:href="@{/css/navbar.css}" rel="stylesheet" />
    <link th:href="@{/css/footer.css}" rel="stylesheet" />
    <link th:href="@{/css/calendar.css}" rel="stylesheet" />
    <script th:src="@{/js/navbar.js}"></script>
    <script th:src="@{/js/calendar.js}"></script>
    <script th:src="@{/js/common.js}"></script>

</head>
<body>
<div id="container">

    <div th:replace="/fragment/navbar.html :: fragment-nav"></div>

    <div class="main">
        <div class="content-wrap">
            <div class="content-left">
                <div class="main-wrap">
                    <span id="main-month" class="main-month"></span> &nbsp;
                    <span id="main-date" class="main-date"></span> &nbsp;
                    <span id="main-day" class="main-day"></span>
                    <span id="main-year" class="main-day"></span>
                </div>
                <div class="todo-wrap">
                    <div class="todo-title">You can add "todo list" here</div>
                    <div class="input-wrap">
                        <form method="post" id="toDoList">
                            <input type="text" placeholder="please write here" id="toDoContent" class="input-box" name="toDoContent">
                            <input type="date" id="planDate" class="input-box" name="planDate">
                            <input type="date" id="setUpDate" class="input-box" name="setUpDate" style="display: none"></input>
                            <input type="color" id="toDoColor" name="toDoColor" value="#16aaad" list="colors4palette" />
                            <datalist id="colors4palette">
                                <option>#355070</option>
                                <option>#6D597A</option>
                                <option>#B56576</option>
                                <option>#E56B6F</option>
                                <option>#EAAC8B</option>
                            </datalist>
                            <button type="button" id="input-data" class="input-data">INPUT</button>
                        </form>
                        <table id="toDoListsTable">
                            <tr>
                                <td>Color</td><td>Content</td><td>State</td>
                            </tr>
                        </table>
                        <table id="iniAndObTable">
                            <tr>
                                <td>Ob Content</td><td>Ini Content</td><td>State</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="content-right">
                <table id="calendar" align="center">
                    <thead>
                    <tr class="btn-wrap clearfix">
                        <td>
                            <label id="prev">
                                &#60;
                            </label>
                        </td>
                        <td align="center" id="current-year-month" colspan="5"></td>
                        <td>
                            <label id="next">
                                &#62;
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td class = "sun" align="center">Sun</td>
                        <td align="center">Mon</td>
                        <td align="center">Tue</td>
                        <td align="center">Wed</td>
                        <td align="center">Thu</td>
                        <td align="center">Fri</td>
                        <td class= "sat" align="center">Sat</td>
                    </tr>
                    </thead>
                    <tbody id="calendar-body" class="calendar-body"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<footer th:replace="/fragment/footer.html :: fragment-footer"></footer>
</body>

<script>
    showCalendar();
    clickStart();

    var selectedDate = document.getElementById("setUpDate").innerText;
    console.log("selectedDate - html reshowing");
    console.log(selectedDate);
    reshowingList(selectedDate);

    var clickedDate1 = document.getElementById(today.getDate());
    clickedDate1.classList.add('active');

    $("#prev").click(function(){
        prev();
    })

    $("#next").click(function(){
        next();
    })

    $("#input-data").click(function(){
        readForm("#toDoList", "/toDoList");
        var planDate = $('planDate').val();
        changeToday(planDate);
    })

    $(".calendar-body").click(function(event){
    })

    $(".td-date").on("click", function(){
        loadCalendar(2);
    });
</script>
</html>

