<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- navbar 및 전체 css 관련 !-->
    <link th:href="@{/css/common.css}" rel="stylesheet" />
    <link th:href="@{/css/navbar.css}" rel="stylesheet" />
    <script th:src="@{/js/navbar.js}"></script>

</head>
<body>
<div id="container">
    <div id="navbar" class="navbar" th:replace="/fragment/navbar.html :: fragment-nav"></div>
    <section>
        <div id="introduce">
            <p>small begin</p>
            <img src="/images/smallBeginLogo.png">
            <img>
            <p>Our vision</p>
        </div>

    </section>
</div>
</body>
</html>