<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Small Begin</title>

<script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>

<!-- navbar 관련 !-->
<link th:href="@{/css/navbar.css}" rel="stylesheet" />
<script th:src="@{/js/navbar.js}"></script>

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->

<script type="text/javascript">

    $(function(){

        $("#click").click(function(){
            readData("?");
            readForm("#iniForm", "/readForm");
        });

    })

</script>
</head>
<body>

    <!-- nav bar !-->
    <div th:replace="/fragment/navbar.html :: fragment-nav"></div>

    <form method="post" id="iniForm">
       <span>
            <select name="obSelect" id="obSelect" size="1">
                <option th:each="category: ${category}"
                        th:value="${category.categoryName}" th:utext="${category.categoryName}">
                </option>
            </select> 을/를 이루기 위해
        </span> <br>
        <input type="text" id="ini" name="ini"> <br>
        <input type="date" id="startDate" name="startDate">
        <input type="date" id="endDate" name="endDate">

        <select name="duration" id="duration" size="1">
            <option>매달</option>
            <option>매주</option>
            <option>매일</option>
        </select> &nbsp; &nbsp;
        <select name="week" id="week" size="1">
            <option>첫째</option>
            <option>둘째</option>
            <option>셋째</option>
            <option>마지막</option>
        </select> &nbsp; <span>주</span>
        <input type="checkbox" id="mon" name="mon" value="월">
        <label for="mon">월</label> &nbsp;
        <input type="checkbox" id="tue" name="tue" value="화">
        <label for="tue">화</label> &nbsp;&nbsp;
        <input type="checkbox" id="wed" name="wed" value="수">
        <label for="wed">수</label> &nbsp;&nbsp;
        <input type="checkbox" id="thu" name="thu" value="목">
        <label for="thu">목</label> &nbsp;&nbsp;
        <input type="checkbox" id="fri" name="fri" value="금">
        <label for="fri">금</label> &nbsp;&nbsp;
        <input type="checkbox" id="sat" name="sat" value="토">
        <label for="sat">토</label> &nbsp;&nbsp;
        <input type="checkbox" id="sun" name="sun" value="일">
        <label for="sun">일</label> &nbsp;&nbsp;
        <span>요일</span>
        <br> <span>OR</span>
        <br>
        <input type="text" id="date" name="date" size="5">
        <span>일 마다 반복 할 것이다.</span>
      <input type="button" id="click" value="click">
    <!--<input type="button" value="click" onclick="ajaxTest()">-->
    </form>
    <p id="result">???</p>
</body>

<!-- 폼 관련 !-->
<script src="/js/iniForm.js"></script>
<script>
    datePicker();

    $(function(){

        $("#startDate").change(function(){
            duration();
        })


    })
</script>

</html>

