<!DOCTYPE html>
<html lang="eur-ko" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Small Begin</title>

<script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/dateSelect.js"></script>

<!-- navbar 및 전체 css 관련 !-->
    <link th:href="@{/css/common.css}" rel="stylesheet" />
    <link th:href="@{/css/navbar.css}" rel="stylesheet" />
    <link th:href="@{/css/footer.css}" rel="stylesheet" />
    <link th:href="@{/css/dateSelect.css}" rel="stylesheet" />
    <script th:src="@{/js/navbar.js}"></script>
<!-- bootstrap !-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</script>
</head>
<body>
    <div id="container">
        <!-- nav bar !-->
        <div th:replace="/fragment/navbar.html :: fragment-nav"></div>
        <div id="formCss">
            <form method="post" id="iniForm">
               <span class="form">
                    <select name="obCode" id="categoryCode" size="1">
                        <option th:each="category: ${category}"
                                th:value="${category.categoryCode}" th:utext="${category.categoryName}">
                        </option>
                    </select> 을/를 이루기 위해
                </span><br>
                <input type="text" id="ini" name="iniContent" class="form" size="70" placeholder="목표를 적어주세요"> <br>
                <input type="date" id="iniStartDate" name="iniStartDate" class="form">
                <input type="date" id="iniEndDate" name="iniEndDate" class="form"><br>

                <select name="iniPeriod" id="iniPeriod" size="1" class="form">
                    <option value="2">매달</option>
                    <option value="1">매주</option>
                    <option value="0">매일</option>
                </select>
                <span id="week" class="form">
                    <select name="week" id="week-pick" size="1">
                        <option value=""></option>
                        <option value="1">첫째</option>
                        <option value="2">둘째</option>
                        <option value="3">셋째</option>
                        <option value="4">넷째</option>
                        <option value="5">마지막</option>
                    </select><span id="week2" class="form">주</span>
                </span>
                <div id="day-pick" name="day-pick" class="form">
                    <input type="checkbox" id="mon" name="mon" value="1">
                    <label for="mon" class="dayLabel"><span>월</span></label> &nbsp;
                    <input type="checkbox" id="tue" name="tue" value="1">
                    <label for="tue" class="dayLabel"><span>화</span></label> &nbsp;&nbsp;
                    <input type="checkbox" id="wed" name="wed" value="1">
                    <label for="wed" class="dayLabel"><span>수</span></label> &nbsp;&nbsp;
                    <input type="checkbox" id="thu" name="thu" value="1">
                    <label for="thu" class="dayLabel"><span>목</span></label> &nbsp;&nbsp;
                    <input type="checkbox" id="fri" name="fri" value="1">
                    <label for="fri" class="dayLabel"><span>금</span></label> &nbsp;&nbsp;
                    <input type="checkbox" id="sat" name="sat" value="1">
                    <label for="sat" class="dayLabel"><span>토</span></label> &nbsp;&nbsp;
                    <input type="checkbox" id="sun" name="sun" value="1">
                    <label for="sun" class="dayLabel"><span>일</span></label> &nbsp;&nbsp;
                    <span>요일</span>
                </div>
                <span id="or" name="or" class="form">OR</span>
                <div class="form">
                    <div class="date-select">
                        <input type="text" id="date" name="date" size="5">
                        <div class="date-select-content" id="date-select-content">
                        </div>
                    </div>
                </div>
                <span id="form-toggle" class="form">일 마다&nbsp;</span>
                <span class="form">반복 할 것이다.</span><br>
                <input type="button" id="click" value="click" class="buttons">
                <input type="button" id="add" value="목표 추가" class="buttons">
<!--            <input type="button" value="click" onclick="ajaxTest()">-->
            </form>
        </div>
        <div id="otherContents">
            <p id="result">???</p>
        </div>
    </div>
    <footer th:replace="/fragment/footer.html :: fragment-footer"></footer>
</body>

<!-- 폼 관련 !-->
<script src="/js/iniForm.js"></script>
<script>
$(function(){

    datePicker();

    $("#date-select-content").html(showDate($("#iniStartDate").val(), $("#iniEndDate").val()));

    $("#iniStartDate").on("change", function(){
        duration();
        $("#date-select-content").html(showDate($("#iniStartDate").val(), $("#iniEndDate").val()));
        showDateLessMonth($("#iniStartDate").val(), $("#iniEndDate").val());
    });

    $("#iniEndDate").on("change", function(){
        $("#date-select-content").html(showDate($("#iniStartDate").val(), $("#iniEndDate").val()));
        showDateLessMonth($("#iniStartDate").val(), $("#iniEndDate").val());
    });

    $(".date-select-content").on("click", ".day", function(){
        var dateListArray = selectDate($(this));
        var possibleDateList = possibleDayCount($("#iniStartDate").val(), $("#iniEndDate").val(), dateListArray);
        sendDateList($("#iniStartDate").val(), $("#iniEndDate").val(), possibleDateList, "/receiveDateList")
    });

    $("#click").on("click", function(){
        readForm("#iniForm", "/readForm");
    });


    $("#iniPeriod").change(function(){
        var duration = $(this).val();

        if(duration == "0"){
            showElements();

        }else if(duration == "1"){
            everyWeek();

            $("#day-pick").click(function(){
                var checked = $('input[name="day"]:checked').length;
                if(checked == 7){
                    dayPicker();
                }
            })

        }else if(duration == "2"){
            everyday();
        }
    });


});


</script>

</html>

