<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Small Begin</title>

<script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>

<!-- navbar 및 전체 css 관련 !-->
<link th:href="@{/css/common.css}" rel="stylesheet" />
<link th:href="@{/css/navbar.css}" rel="stylesheet" />
<script th:src="@{/js/navbar.js}"></script>

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->

<script type="text/javascript">

    $(function(){

        $("#click").click(function(){
            readData("?");
            readForm("#iniForm", "/readForm");
        });

    })

</script>
</head>
<body>
    <div id="container">
        <!-- nav bar !-->
        <div id="navbar" class="navbar" th:replace="/fragment/navbar.html :: fragment-nav"></div>
        <div id="formCss">
            <form method="post" id="iniForm">
               <span class="form">
                    <select name="obSelect" id="obSelect" size="1">
                        <option th:each="category: ${category}"
                                th:value="${category.categoryName}" th:utext="${category.categoryName}">
                        </option>
                    </select> 을/를 이루기 위해
                </span> <br>
                <input type="text" id="ini" name="ini" class="form" size="70" placeholder="목표를 적어주세요"> <br>
                <input type="date" id="iniStartDate" name="iniStartDate" class="form">
                <input type="date" id="iniEndDate" name="iniEndDate" class="form"><br>

                <select name="duration" id="duration" size="1" class="form">
                    <option>매달</option>
                    <option>매주</option>
                    <option>매일</option>
                </select>
                <span id="week" class="form">
                    <select name="week" id="week-pick" size="1">
                        <option></option>
                        <option>첫째</option>
                        <option>둘째</option>
                        <option>셋째</option>
                        <option>넷째</option>
                        <option>마지막</option>
                    </select><span id="week2" class="form">주</span>
                </span>
                <div id="day-pick" name="day-pick" class="form">
                    <input type="checkbox" id="mon" name="day" value="월">
                    <label for="mon" class="dayLabel"><span>월</span></label> &nbsp;
                    <input type="checkbox" id="tue" name="day" value="화">
                    <label for="tue" class="dayLabel"><span>화</span></label> &nbsp;&nbsp;
                    <input type="checkbox" id="wed" name="day" value="수">
                    <label for="wed" class="dayLabel"><span>수</span></label> &nbsp;&nbsp;
                    <input type="checkbox" id="thu" name="day" value="목">
                    <label for="thu" class="dayLabel"><span>목</span></label> &nbsp;&nbsp;
                    <input type="checkbox" id="fri" name="day" value="금">
                    <label for="fri" class="dayLabel"><span>금</span></label> &nbsp;&nbsp;
                    <input type="checkbox" id="sat" name="day" value="토">
                    <label for="sat" class="dayLabel"><span>토</span></label> &nbsp;&nbsp;
                    <input type="checkbox" id="sun" name="day" value="일">
                    <label for="sun" class="dayLabel"><span>일</span></label> &nbsp;&nbsp;
                    <span>요일</span>
                </div>
<!--                <span id="or" name="or" class="form">OR</span>
                <input type="text" id="date" name="date" size="5" class="form">
                <span id="form-toggle" class="form">일 마다&nbsp;</span>
                <span class="form">반복 할 것이다.</span><br>
                <input type="button" id="click" value="click" class="buttons">
                <input type="button" id="add" value="목표 추가" class="buttons">-->
            <!--<input type="button" value="click" onclick="ajaxTest()">-->
            </form>
        </div>
<!--        <div id="otherContents">
            <p id="result">???</p>
        </div>-->
    </div>
</body>

<!-- 폼 관련 !-->
<script src="/js/iniForm.js"></script>
<script>

    datePicker();

    $(function(){

        $("#startDate").change(function(){
            duration();
        })

        $("#duration").change(function (){
            var duration = $(this).val();

            if(duration == "매달"){
                showElements();

            }else if(duration == "매주"){
                everyWeek();

                $("#day-pick").click(function(){
                    var checked = $('input[name="day"]:checked').length;
                    if(checked == 7){
                        dayPicker();
                    }
                })

            }else if(duration == "매일"){
                everyday();
            }
        })

    })
</script>

</html>

