<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Small Begin</title>

    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>

    <!-- navbar 및 전체 css 관련 !-->
    <link th:href="@{/css/common.css}" rel="stylesheet" />
    <link th:href="@{/css/navbar.css}" rel="stylesheet" />
    <link th:href="@{/css/footer.css}" rel="stylesheet" />
    <script th:src="@{/js/navbar.js}"></script>

</head>
<body>
<div id="container">

    <div th:replace="/fragment/navbar.html :: fragment-nav"></div>

    <div id="formCss">
        <form method="post" id="joinUs">
            <span class="joinInput">ID</span> &nbsp; &nbsp; &nbsp; <input type="text" id="memberId" name="memberId" class="form" size="25">&nbsp; <span id="idEmpty"></span> <br>
            <span class="joinInput">Password</span> &nbsp; &nbsp; &nbsp; <input type="password" id="password" name="password" class="form" size="25">&nbsp; <span id="pwEmpty"></span><br>
            <span class="joinInput">Nickname</span> &nbsp; &nbsp; &nbsp; <input type="text" id="nickname" name="nickname" class="form" size="25">&nbsp; <span id="nickEmpty"></span><br>
            <span class="joinInput">Email</span> &nbsp; &nbsp; &nbsp; <input type="text" id="email" name="email" class="form" size="25">&nbsp; <span id="emailEmpty"></span><br>
            <input type="button" id="form-submit" value="submit" class="buttons">
        </form>
    </div>

</div>

<footer th:replace="/fragment/footer.html :: fragment-footer"></footer>
</body>

<script>
    $(function(){
/*        if(id == ''){
            $("#idEmpty").text("Enter your name").css("color", "darkred");
        }
        if(password == ''){
            $("#pwEmpty").text("Enter the password").css("color", "darkred");
        }
        if(nickname == ''){
            $("#nickEmpty").text("Enter your nickname").css("color", "darkred");
        }
        if(email == ''){
            $("#emailEmpty").text("Enter your email").css("color", "darkred");
        }*/

        $("#form-submit").click(function(){
            var id = $("#memberId").val();
            var password = $("#password").val();
            var nickname = $("#nickname").val();
            var email = $("#email").val();

            var emailCheck = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/;

            if(id == '' || password== '' || nickname == '' || email == ''){
                alert("Please fill the form completely");
            }else if(emailCheck.test(email) == false) {
                alert("잘못된 이메일 형식입니다");
            }else{
                readForm("#joinUs", "/readJoinUs");
            }
        })

    })
</script>
</html>