<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

<script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(function(){
         var function1("#form") = $("#ajaxBtn").click(function (){
          $.ajax({
 				 url : "ajaxTest", //서버주소
 				 type : "post",//요청방식
 				 dataType :"text", //서버가 보내온 데이터 타입(응답 : text, html, xml, json)
 				 success : function(result){
 					 $("#result").text(result);
 				 },
 				 error : function(err){
 					 console.log(err+"에러발생");
 				 }
 			 });
        });

    })

</script>
</head>
<body>

<input type="button" value="ajaxBtn" id="ajaxBtn">
<p id="result"></p>

</body>
</html>